
<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns="http://www.o3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Admin</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	rel="stylesheet">

</head>
<body>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>

	<form th:action="@{/login_request}" method="post">
		<h2>Login Here</h2>
		<div class="form-group">
			<label for="username">Username:</label><br> <input type="text"
				name="username" id="username">
		</div>
		<div class="form-group">
			<label for="password">Password:</label><br> <input
				type="password" name="password" id="password">
		</div>
		<div class="form-group">
			<input type="submit" name="submit" class="btn btn-info btn-md"
				value="login"> <a href="/register"
				class="btn btn-info btn-md">Signup
				here</a>
			</p>
		</div>

	</form>
</body>
</html>